<div class="container-fluid">
    <div class="row">
  
      <div class="col-12">
        <div class="card order-graph sales-carousel">
          <div class="card-header">
            <h6>Bank Accounts</h6>
            <div class="row">

            </div>
          </div>
          <div class="card-body">
  
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
              <div class="table-responsive">
                <ng2-smart-table [settings]="optionsBankAccounts.settings" [source]="optionsBankAccounts.source">
                </ng2-smart-table>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-card-bank-account *ngIf="viewMovements" [bankSelected]="bankSelected"
    [title]="title"></app-card-bank-account>
  

  
  <ng-container *ngIf="viewMovements">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body  p-0">
          <ngb-tabset>
  
            <ngb-tab title="Credit Movements">
              <ng-template ngbTabContent>
  
                <!-- INICIO -->
                <app-list-imported-credit-movements [bankAccountId]="bankAccountIdSelected">
                </app-list-imported-credit-movements>
  
                <!-- FIN -->
  
              </ng-template>
            </ngb-tab>
  
            <ngb-tab title="Debit Movements">
              <ng-template ngbTabContent>
  
                <!-- INICIO -->
                <app-list-imported-debit-movements></app-list-imported-debit-movements> <!-- FIN -->
  
              </ng-template>
            </ngb-tab>
  
          </ngb-tabset>
          <!-- <div class="pull-right">
              <button type="submit" form="ngFormShipping" class="btn btn-primary" *ngIf="productsInGuide">Save</button>
          </div> -->
        </div>
      </div>
    </div>
  </ng-container>
  