<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <div class="card order-graph sales-carousel">
        <div class="card-header">
          <h6>Credit Movements</h6>
          <div class="row">
            <div class="col-xl-6">
              <div class="card">
                <div class="card-header pt-0 pb-1">
                  <h5>Filters</h5>
                </div>

                <div class="form-group">
                  <label class="col-form-label pt-0">
                    Deposit Date </label>
                  <input [(ngModel)]="optionsCreditMovement.depositDate" class="form-control col-xl-8 col-sm-7"
                    type="date">
                </div>

                <div class="form-group">
                  <label class="col-form-label pt-0">
                    # Document </label>
                  <input [(ngModel)]="optionsCreditMovement.document" class="form-control col-xl-8 col-sm-7"
                    type="text">
                </div>

                <div class="form-group">
                  <label class="col-form-label pt-0">
                    Amount </label>
                  <input [(ngModel)]="optionsCreditMovement.value" class="form-control col-xl-8 col-sm-7"
                    type="number">
                </div>


              </div>
            </div>
            <!-- <div class="col-xl-6">
              <div class="card">
                <div class="card-header pt-0 pb-1">
                  <h5>Filters</h5>
                </div>

                <div class="form-group">
                  <label class="col-form-label pt-0">
                    Search Query </label>
                  <input [(ngModel)]="optionsCreditMovement.searchQuery" class="form-control col-xl-8 col-sm-7"
                    type="text">
                </div>

                <div class="form-group">
                  <label class="col-form-label pt-0">
                    Order by </label>
                  <input [(ngModel)]="optionsCreditMovement.orderBy" class="form-control col-xl-8 col-sm-7"
                    type="text">
                </div>

              </div>
            </div> -->
          </div>
          <div class="card-body p-0">
            <button (click)="initDataCreditMovements()" class="btn btn-info">Search</button>
          </div>
        </div>
        <div class="card-body" *ngIf="bankAccountId">

          <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
            <div class="table-responsive">
              <ng2-smart-table [settings]="optionsCreditMovement.settings"
                [source]="optionsCreditMovement.source">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


