<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-header">
          <h5> {{ renderValues.renderValue }} </h5>
        </div>
        <div class="card-header pb-0 pt-0">
          <p>{{renderValues.renderAction}}</p>
        </div>

        <div class="card-body tab2-card">
          <ngb-tabset class="tab-coupon">
            <ngb-tab title="Deposit">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show" id="deposit" role="tabpanel" aria-labelledby="deposit-tab">
                  <form [formGroup]="depositForm" appAutoFocusInvalidInput (submit)="save()"
                    enctype="multipart/form-data" id="ngFormDeposit" class="needs-validation deposit-add row">
                    <div class="col-xl-6">
                      <div class="card">
                        <div class="card-header pt-0">
                          <h5>New Deposit</h5>
                        </div>

                        <!-- [attr.checked]="optionCheked === object.values(item)[0]? '' : null" -->
                        <div class="form-group">
                          <label class="col-form-label mb-1"><span>*</span> Credit Reason (Mode)</label>
                          <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                            <label class="d-block p-3" for="edo-ani{{indice}}"
                              *ngFor="let item of formOptionsCreditReason; let indice=index">
                              <input value="{{ object.values(item)[0]}}" 
                                formControlName="creditReasonId"
                               
                                class="radio_animated" id="edo-ani{{indice}}" type="radio" name="rdo-ani">
                              <strong>{{object.values(item)[1]}}</strong>
                            </label>
                          </div>
                          <div
                            *ngIf="(depositForm.controls.creditReasonId.touched || depositForm.controls.creditReasonId.dirty) && depositForm.controls.creditReasonId.errors?.required"
                            class="text text-danger row pl-4 pt-1">
                            <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                            </app-feather-icons>
                            <div>
                              {{validatorService.getErrorField(depositForm,'creditReasonId', 'Credit Reason')}}
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="card">
                        <div class="card-header pt-0">
                          <h5>Details</h5>
                        </div>

                        <div class="form-group">
                          <label for="validationCustom2" class="col-form-label pt-0"><span>*</span>
                            Deposit Date </label>
                          <input formControlName="depositDate" class="form-control col-xl-8 col-sm-7"
                            id="validationCustom2" type="date">
                          <div
                            *ngIf="(depositForm.controls.depositDate.touched || depositForm.controls.depositDate.dirty) && depositForm.controls.depositDate.errors?.required"
                            class="text text-danger row pl-4 pt-1">
                            <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                            </app-feather-icons>
                            <div>
                              {{validatorService.getErrorField(depositForm,'depositDate', 'Deposit Date')}}
                            </div>
                          </div>
                        </div>

                        <div class="form-group" >
                          <label for="validationCustom2" class="col-form-label pt-0"><span>*</span>
                            {{fieldDocument}} </label>
                          <input formControlName="document" class="form-control col-xl-8 col-sm-7"
                            id="validationCustom2" type="text">
                          <div
                            *ngIf="(depositForm.controls.document.touched || depositForm.controls.document.dirty) && depositForm.controls.document.errors?.required"
                            class="text text-danger row pl-4 pt-1">
                            <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                            </app-feather-icons>
                            <div>
                              {{validatorService.getErrorField(depositForm,'document', 'Document')}}
                            </div>
                          </div>
                        </div>
                        <div class="form-group" >
                          <label for="validationCustom22" class="col-form-label pt-0"><span> </span>
                            Comment </label>
                          <input formControlName="comment" class="form-control col-xl-8 col-sm-7"
                            id="validationCustom22" type="text">
              
                        </div>

                        <div class="form-group">
                          <label for="validationCustom5" class="col-form-label pt-0"><span>*</span>
                            Amount </label>
                          <input formControlName="value" class="form-control col-xl-8 col-sm-7" id="validationCustom5"
                            type="number">
                          <div
                            *ngIf="(depositForm.controls.value.touched || depositForm.controls.value.dirty) && depositForm.controls.value.errors?.required"
                            class="text text-danger row pl-4 pt-1">
                            <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                            </app-feather-icons>
                            <div>
                              {{validatorService.getErrorField(depositForm,'value', 'Amount')}}
                            </div>
                          </div>
                        </div>

                        <!-- <div class="form-group">
                          <label for="validationCustom0" class="col-form-label pt-0"><span>*</span>
                            Image</label>
                          <app-input-img [urlImagenActual]="modelo?.image"
                            (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>
                        </div> -->
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <div class="pull-right">
            <button type="submit" form="ngFormDeposit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
